@charset "utf-8";
/* CSS Document */
/*Izzy Steger
WPCD 2020 S2 PER E 
March 6th, 2020 - date started */

img {
	width:100px;
	height:100px;
}


footer {
	text-align: center;
	position: static;
	color: white;
	
}

footer img {
	margin: 10px;
	width: 200px;
	height: inherit;
}
/* steger inc logo */



body {
	background-image:url("../Media Files/cybersecurity(1).jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color:white ;

		
}

aside {
	background-color:#0E252B;
	position: absolute;
	left:1300px;
	top: 200px;
	border: solid antiquewhite 2px;
	width: inherit;
	height: inherit;
	overflow: auto;
	padding: 30px;
	margin: 10px;
	
}

article {
	position:relative;
	left:100px;
	border: solid antiquewhite 2px;
	width: 500px;
	height: 200px;
	overflow: auto;
	padding: 30px;
	margin: 10px;
	margin-bottom: 50px;
	
}

a {
	color: white;
}

details {
	position: absolute;
	top: 1560px;
	margin: 10px;
}




